@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    overflow: hidden;
  }
}
